* {
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.loginContainer {
    width: 566px;
    height: 734px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8F8F8;
    border-radius: 30px;
}

.loginContainer > img {
    width: 56px;
    height: 60px;
    align-self: flex-start;
    position: relative;
    left: 15px;
    top: 15px;
}

.loginContainer > h1 {
    margin: 100px 0 30px 0;
    font-size: 2em;
}

.loginContainer > .inputText {
    margin: 40px 0;
    width: 70%;
    background-color: #F2F2F2;
    padding: 20px 20px;
    border-radius: 30px;
}

.loginContainer > .inputText > input {
    width: 90%;
    font-size: 17px;
    margin: 0 2px;
    background-color: rgba(0,0,0,0);
    border: none;
}

.loginContainer > .loginButton {
    margin: 30px 0;
    width: 40%;
    background-color: #3690DE;
    padding: 15px 35px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer > .loginButton > input {
    background-color: rgba(0,0,0,0);
    font-size: 18px;
    color: white;
    border: none;
}

@media screen and (max-width: 480px) {
    .loginContainer {
        width: 100vw;
        height: 100vh;
        background-color: white;
        border-radius: 0;
    }
    .loginContainer > .inputText {
        width: 90%;
    }
}

@media screen and (max-width: 340px) {
    .loginContainer > h1 {
        margin: 70px 0 10px 0;
        font-size: 2em;
    }
    .loginContainer > .inputText {
        margin: 30px 0;
    }
    .loginContainer > .loginButton {
        margin: 20px 0;
    }
}
