* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: "Apple SD Gothic Neo";
    width: 100%;
    height: 100vh;
    background-image: url("../Assets/background.png") ;
    background-position: center;
    background-size: cover;
}

.loginContainer {
    position: absolute;
    top: 149px;
    right: 110px;
    width: 600px;
    bottom: 130px;
    background-color: rgba(248, 248, 248, 0.8);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginContainer > img {
    align-self: self-start;
    width: 45px;
    height: 50px;
    margin-left: 30px;
    margin-top: 20px;
}

h1 {
    margin-top: 100px;
    font-size: 50px;
    margin-bottom: 85px;
}

.inputText {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 460px;
    height: 60px;
    border-radius: 30px;
    background-color: #E2E2E2;
}

.inputText i {
    position: relative;
    left: 30px;
    text-align: center;
}

.inputText input{
    width: 300px;
    border: none;
    outline: none;
    margin-left: 20px;
    padding: 15px 20px 0 20px;
    font-size: 25px;
    background-color: #E2E2E2;
}

.loginButton {
    margin-top: 20px;
    width: 213px;
    height: 67px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #3690DE;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginButton input{
    color: white;
    margin-top: 13px;
    font-size: 25px;
    border: none;
    outline: none;
    background-color: #3690DE;
}

@media screen and (max-width: 1380px) {
    body {
        background-image: none;
        background-color: #FFFFFF;
    }

    h1 {
        margin-top: 1.2em;
        margin-bottom: 1.2em;
        font-size: 8vw;
    }

    .loginContainer {
        width: 100vw;
        height: 100vh;
        top: 0;
        right: 0;
        bottom: 0;
        border-radius: 0;
    }
    .loginContainer > img {
        margin-left: 1.2em;
        margin-top: 1.2em;
    }

    .inputText {
        width: 75vw;
        height: 6vh;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }

    .inputText input {
        width: 60vw;
        height: 6vh;
        font-size: 3vw;
        padding-top: 5px;
        padding-left: 30px;
    }

    .loginButton {
        width: 45vw;
        height: 5vh;
        background-color: #3690DE;
    }
    .loginButton input{
        font-size: 4vw;
        background-color: #3690DE;
    }
}
